<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.reginald.pluginm"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- 插件服务Provider, 需要放在宿主的常驻进程中 -->
        <provider
            android:name="com.reginald.pluginm.core.PluginManagerServiceProvider"
            android:authorities="com.reginald.pluginm.provider.core"
            android:exported="false"
            />


        <!-- begin of stub components -->

        <!-- process P0 start -->
        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$Standard0"
            android:launchMode="standard"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTop0"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTop1"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTop2"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTop3"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTop4"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTask0"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTask1"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTask2"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTask3"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleTask4"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleInstance0"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleInstance1"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleInstance2"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleInstance3"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P0$SingleInstance4"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <service
            android:name="com.reginald.pluginm.stub.Stubs$Service$P0$Service0"
            android:exported="false"
            android:process=":p0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </service>

        <provider
            android:name="com.reginald.pluginm.stub.Stubs$Provider$P0$Provider0"
            android:authorities="com.reginald.pluginm.stub.provider.p0"
            android:process=":p0">
        </provider>
        <!-- process P0 end -->

        <!-- process P1 start -->
        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$Standard0"
            android:launchMode="standard"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTop0"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTop1"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTop2"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTop3"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTop4"
            android:launchMode="singleTop"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTask0"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTask1"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTask2"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTask3"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleTask4"
            android:launchMode="singleTask"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleInstance0"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleInstance1"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleInstance2"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleInstance3"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reginald.pluginm.stub.Stubs$Activity$P1$SingleInstance4"
            android:launchMode="singleInstance"
            android:theme="@style/PluginMTheme"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </activity>

        <service
            android:name="com.reginald.pluginm.stub.Stubs$Service$P1$Service0"
            android:exported="false"
            android:process=":p1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.reginald.pluginm.category.STUB" />
            </intent-filter>
        </service>

        <provider
            android:name="com.reginald.pluginm.stub.Stubs$Provider$P1$Provider0"
            android:authorities="com.reginald.pluginm.stub.provider.p1"
            android:process=":p1">
        </provider>
        <!-- process P1 end -->


        <!-- end of stub components -->
    </application>

</manifest>