<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.multidexmodeplugin"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- begin of stub components -->

        <activity android:name="com.reginald.pluginm.pluginhost.PluginProxy.Activity">
        </activity>

        <service
            android:name="com.reginald.pluginm.pluginhost.PluginStubMainService"
            android:exported="false">
        </service>

        <receiver
            android:name="com.reginald.pluginm.pluginhost.PluginStubBroadcast"
            android:exported="false">
        </receiver>
        
        <provider
            android:authorities="com.reginald.pluginm.stub.provider"
            android:name="com.reginald.pluginm.pluginhost.PluginStubMainProvider" />

        <!-- end of stub components -->
    </application>

</manifest>